export(SparrotObj)
export(createSparrotObj)
export(convertSeuratToSparrot)
export(getCoords)
export(getExpr)
export(getCellProb)
export(getMeta)
export(getCelltypes)
export(getParams)
export(plotCellTypeProb)
export(plotCellType)
export(plotMultiCellTypeProb)
export(binarizeByGMM)
export(find_main_valley_threshold)
export(classify_by_main_valley)
export(evaluate_overlap_metrics)
export(evaluate_bidirectional_nn_distance)
export(expand_bin_chebyshev)
export(plot_expand_chebyshev)
export(concave_dat)
export(spFeatureDensityPlot)
export(computeGeneCelltypeOverlap)
